@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'JSDongkang-Regular', 'Poppins', 'Graduate', 'Montserrat', 'Ephesis', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #fff;
  overflow-x: hidden;
  background-color: #000;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}
/* sns  */
.sns{
  position: fixed;
  left: 30px;
  bottom: 20px;
  display: block;
  z-index: 999;
}

.sns-show{
  opacity: 1;
  visibility: visible;
}
.sns-container{
  position: relative;
  display: block;
}
.sns-list{
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.sns-list li{
  position: relative;
  display: block;
}
.sns-list li a{
  position: relative;
  display: block;
  font-size: 30px;
  margin: 10px 0;
  transition: all 0.5s;    
}
.sns-list li:hover .snsicon{
  color: #fff;
}

/* wrap */
.wrap {
  position: relative;
  display: block;
}

.scrolltop{
  padding-top: 100px;
}
/* header */
.header {
  position: fixed;
  left: 0;
  top: 20px;
  display: block;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  z-index: 9999;
  backdrop-filter: blur(5px);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.depth1 {
  position: relative;
  display: block;
}

.depth1 li {
  position: relative;
  display: inline-block;
}

.depth1 li a {
  position: relative;
  display: block;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
}
.depth1 li a span{
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #e9e9e954;
}
.mainmenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #888;
  transition: width 0.5s;
}

.depth1 li a:hover {
  color: #888;
}

.depth1 li:hover .mainmenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #888;
}


.header-btn {
  position: relative;
  display: block;
}

.header-btn a {
  position: relative;
  display: block;
}

/* introduce */
.introduce {
  position: relative;
  display: block;
  height: 100vh;
  padding-left: 80px;
}

.intro-container {
  position: relative;
  display: block;
  height: 100%;
}

.intro-txt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 60%;
  font-family: 'Poppins';
  z-index: 999;
  font-size: 60px;
  font-weight: 700;
}

.intro-desc {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.intro-pic {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 600px;
  height: 100%;
  padding-top: 100px;
}

.intro-pic img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

.split span {
  opacity: 0;
  display: inline-block;
  min-width: 1vw;
  transform: translateY(30px);
}

/* about */
.about {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.about-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.about-me::before {
  content: '01.';
  position: relative;
  display: inline-block;
  color: #fff;
}

.about-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}


.about-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.about-left {
  position: relative;
  display: block;
}

.about-desc {
  position: relative;
  display: block;
}

.about-right {
  position: relative;
  display: block;
}

.my-picture {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
}

.my-picture::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 2px solid #fff;
  border-radius: 10px;
}

.my-picture img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* skill */
.skill {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.myskill {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.myskill::before {
  content: '03.';
  position: relative;
  display: inline-block;
  color: #fff;
}

.myskill::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}
.skill-container{}
.skill-title{}
.skill-list{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-list li{
  position: relative;
  display: block;
  width: 25%;
  text-align: center;
  margin: 30px 0;
}

.skillicon{
  position: relative;
  display: block;
  font-size: 60px;
  height: 84px;
  margin-bottom: 20px;
}
/* mbti */
.mbti {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.mymbti {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.mymbti::before {
  content: '04.';
  position: relative;
  display: inline-block;
  color: #fff;
}

.mymbti::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.myportfolio {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.myportfolio::before {
  content: '05.';
  position: relative;
  display: inline-block;
  color: #fff;
}

.myportfolio::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

.project-wrapper {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project-wrap {
  position: relative;
  display: flex;
  justify-content: start;
  margin-bottom: 50px;
}

.project-wrap:nth-child(2){
  display: flex;
  justify-content: center;
}
.project-wrap:nth-child(3){
  display: flex;
  justify-content: start;
}

.project-img {
  position: relative;
  display: block;
}



.portimg {
  width: 500px;
  display: block;
  height: 300px;
}

.portimg img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.portimg img:hover {
  opacity: 1;

}

.project-content {
  position: relative;
  right: 20px;
  top: 20px;
  display: block;
  text-align: right;
}
.project-name{
  position: relative;
  display: block;
  font-size: 22px;
  font-weight: 700;
}
.project-title{}

.project-desc {
  position: relative;
  display: block;
  width: 450px;
  background-color: lightgreen;
  border: 1px solid red;
}

.portfolio-wrap{
  position: relative;
  display: block;
}

.project-list-title{
  position: relative;
  display: block;
}

.portfolio-btn{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.portfolio-btn button {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 10px;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  background-color: transparent;
  color: #e9e9e9;
  font-size: 18px;
}

.portfolio-cate{
  position: relative;
  display: block;
}

.portfolio-cate h4{
  position: relative;
  display: block;
}

.portfolio-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list li {
  position: relative;
  display: block;
  margin: 20px 10px;
  text-align: center;
}
.portfolio-list li h5{
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.portfolio-list-wrap{
  position: relative;
  display: block;
  width: 270px;
  height: 270px;
}

.portfolio-list-wrap img{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  border-radius: 5px;
  transition: all 0.5s;
}

.portfolio-link-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 140px;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
  border-radius: 15px;
}

.portfolio-link-list a {
  display: block;
  width: 100%;
  margin: 20px 5px;
  color: #fff;
}


.portfolio-link-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #e9e9e9;
  padding: 0 10px;
}

.port-title{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: block;
  font-weight: bold;
}

.port-desc{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
}
.port-version{
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
.res{
  margin-left: 5px;
  font-size: 8px;
}
.port-date{
  position: relative;
  display: inline-block;
  font-weight: 700;
}
.portfolio-hover-list{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 250px;
  height: 140px;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  border-radius: 15px;
}

.portfolio-list-wrap:hover .portfolio-hover-list{
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 1);
}
.portfolio-list-wrap:hover .portfolio-link-list{
  opacity: 0;
  visibility: hidden;
}
.portfolio-list-wrap:hover .portfolio-list-wrap img{
  filter: brightness(90%);
  box-shadow: 0 0 4px 2px #e9e9e97a;
}


.portfolio-hover-list-wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #e9e9e9;
  padding: 0 10px;
}
.port-desc a{
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: white;
  margin: 5px 5px;
}

/* life */
.life {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.life-container {
  position: relative;
  display: block;
}

.life-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.life-me::before {
  content: '06.';
  position: relative;
  display: inline-block;
  color: #fff;
}

.life-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}


.life-me-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 80px 0 40px 0;
}

.life-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.life-card {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 400px;
}

.life-card img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* vision */
.vision {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.vision-container {
  position: relative;
  display: block;
}

.vision-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.vision-me::before {
  content: '07.';
  position: relative;
  display: inline-block;
  color: #fff;
}

.vision-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}


.sw-vision {
  position: relative;
  height: 100%;
}

.swiper-slide {
  height: 100%;
  display: block;
  transition: all 0.5s;
  transform: scale(0.8);
  text-align: center;
}
.swiper-slide.swiper-slide-active {
  transform: scale(1);

}


/* footer */