@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'JSDongkang-Regular', 'Poppins', 'Graduate', 'Montserrat', 'Ephesis', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #8892b0;
  overflow-x: hidden;
  background-color: #0a192f;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.inner h2 {
  font-size: 4vw;
  font-weight: 600;
  font-family: 'Poppins';
  text-transform: uppercase;
  color: #ccd6f6;
}

.ml50 {
  margin-left: 50px;
}

.mr30 {
  margin-right: 30px;
}

.size{
  font-size: 13px;
}
.usecolor{
  position: relative;
  color: #64ffda;
}

.usecolor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #64ffda;
  transition: width 0.5s;
}

.project-desc:hover .usecolor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #64ffda;
}



/* sns  */
.sns {
  position: fixed;
  left: 70px;
  bottom: 30px;
  display: block;
  z-index: 999;
}

.sns-show {
  opacity: 1;
  visibility: visible;
}

.sns-container {
  position: relative;
  display: block;
}

.sns-list {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}


.sns-list li {
  position: relative;
  display: block;
}

.sns-list li a {
  position: relative;
  display: block;
  font-size: 30px;
  margin: 10px 0;
  transition: all 0.5s;
  color: #fff;
}

.sns-list li:hover .snsicon {
  color: #64ffda;
}

@media all and (max-width:1200px){
  .sns {
    position: fixed;
    left: 70px;
    bottom: 30px;
    display: none;
    z-index: 999;
  }
  
  .sns-show {
    opacity: 1;
    visibility: visible;
  }
  
  .sns-container {
    position: relative;
    display: block;
  }
  
  .sns-list {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  
  .sns-list li {
    position: relative;
    display: block;
  }
  
  .sns-list li a {
    position: relative;
    display: block;
    font-size: 30px;
    margin: 10px 0;
    transition: all 0.5s;
  }
  
  .sns-list li:hover .snsicon {
    color: #fff;
  }
  
}

.mb-wrap{
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.9);
}
.mb-nav{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100vw;
  height: 100vh;
}
.mb-depth1{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 100%;
}
.mb-depth1 li{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.mb-depth1 li a{
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.mb-btn{
  position: relative;
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 99999;
}

@media all and (max-width:750px){
  .mb-btn{
    position: relative;
    display: block;
    font-size: 30px;
  }
}


/* wrap */
.wrap {
  position: relative;
  display: block;
}

.scrolltop {
  padding-top: 100px;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 20px;
  display: block;
  width: 100%;
  height: 80px;
  padding: 0 4vw;
  z-index: 9999;
  backdrop-filter: blur(5px);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  color: #fff;
  background: url('/images/White\ logo\ -\ no\ background.svg') no-repeat center;
  background-size: cover;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.depth1 {
  position: relative;
  display: block;
}

.depth1 li {
  position: relative;
  display: inline-block;
}

.depth1 li a {
  position: relative;
  display: block;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
}

.depth1 li a span {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #64ffda;
}

.mainmenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #64ffda;
  transition: width 0.5s;
}

.depth1 li a:hover {
  color: #64ffda;
}

.depth1 li:hover .mainmenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #64ffda;
}


.header-btn {
  position: relative;
  display: block;
}

.header-btn a {
  position: relative;
  display: block;
}

@media all and (max-width:750px){
  .header {
    position: fixed;
    left: 0;
    top: 20px;
    display: block;
    width: 100%;
    height: 80px;
    padding: 0 4vw;
    z-index: 9999;
    backdrop-filter: blur(5px);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  
  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  .logo {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
    color: #fff;
    background: url('/images/White\ logo\ -\ no\ background.svg') no-repeat center;
    background-size: cover;
  }
  
  .nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .depth1 {
    position: relative;
    display: none;
  }
  
  .depth1 li {
    position: relative;
    display: inline-block;
  }
  
  .depth1 li a {
    position: relative;
    display: block;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s;
  }
  
  .depth1 li a span {
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #e9e9e954;
  }
  
  .mainmenu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #888;
    transition: width 0.5s;
  }
  
  .depth1 li a:hover {
    color: #888;
  }
  
  .depth1 li:hover .mainmenu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #888;
  }
  
  
  .header-btn {
    position: relative;
    display: block;
  }
  
  .header-btn a {
    position: relative;
    display: block;
  }
}

/* introduce */
.introduce {
  position: relative;
  display: block;
  height: 100vh;
  padding-left: 80px;
}

.intro-container {
  position: relative;
  display: block;
  height: 100%;
}

.intro-txt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 65%;
  font-family: 'Poppins';
  z-index: 999;
  font-size: 5vw;
  font-weight: 700;
}

.intro-main-wrap {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.intro-desc-wrap {
  position: relative;
  display: block;
}

.dev {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px #e9e9e9;
  transition: all 3s;
  transition-delay: 0.1s;
}

.dev::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: #64ffda;
  transition: all 0.3s;
  color: #64ffda;
}

.intro-desc {
  position: relative;
  display: block;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: 'JSDongkang-Regular';
}
.me{
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px #64ffda;
  transition: all 3s;
  transition-delay: 0.1s;
  font-size: 2vw;
  color: #64ffda;
}
/* .me::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: #64ffda;
  transition: all 0.3s;
  color: #64ffda;
} */
.intro-pic {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 600px;
  height: 100%;
  padding-top: 100px;
}

.intro-pic img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

@media all and (max-width:750px){
  .introduce {
    position: relative;
    display: block;
    height: 100vh;
    padding-left: 0;
  }
  
  .intro-container {
    position: relative;
    display: block;
    height: 100%;
  }
  
  .intro-txt {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 60vw;
    font-family: 'Poppins';
    z-index: 999;
    font-size: 7vw;
    font-weight: 700;
  }
  
  .intro-main-wrap {
    position: relative;
    display: block;
    margin-bottom: 30px;
  }
  
  .intro-desc-wrap {
    position: relative;
    display: block;
  }
  
  .dev {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    transition: all 3s;
    transition-delay: 0.1s
  }
  
  .dev::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
  }
  
  .dev:hover .dev::after {
    width: 100%;
  }
  
  .intro-desc {
    position: relative;
    display: block;
    font-size: 3vw;
    font-weight: 400;
    font-family: 'JSDongkang-Regular';
  }
  
  .intro-pic {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  
  .intro-pic img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
  }
}

.split span {
  opacity: 0;
  display: inline-block;
  min-width: 1vw;
  transform: translateY(30px);
}

/* about */
.about {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.about-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.about-me::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.about-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}


.about-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.about-left {
  position: relative;
  display: block;
}

.about-desc {
  position: relative;
  display: block;
}

.about-title {
  position: relative;
  display: block;
  font-size: 1.5vw;
  margin-bottom: 15px;
}

.about-title-desc {
  position: relative;
  display: block;
  margin: 10px 0;
}

.about-subtitle {
  position: relative;
  display: block;
  margin: 10px 0;
  font-weight: 700;
}

.about-subtitle span {
  margin-left: 5px;
}

.about-subdesc {
  position: relative;
  display: block;
  padding-left: 10px;
}

.about-right {
  position: relative;
  display: block;
}

.my-picture {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
}

.my-picture::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 2px solid #fff;
  border-radius: 10px;
}

.my-picture img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0px #e9e9e9;
}

@media all and (max-width:750px){
  .about {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  .about .inner {
    position: relative;
    display: block;
    padding: 0 20px;
  }
  .about-me {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  
  .about-me::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .about-me::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  
  .about-wrapper {
    display: block;
  }
  
  .about-left {
    position: relative;
    display: block;
  }
  
  .about-desc {
    position: relative;
    display: block;
  }
  
  .about-title {
    position: relative;
    display: block;
    font-size: 4vw;
    margin-bottom: 15px;
  }
  
  .about-title-desc {
    position: relative;
    display: block;
    font-size: 3vw;
    margin: 10px 0;
  }
  
  .about-subtitle {
    position: relative;
    display: block;
    margin: 10px 0;
    font-size: 3vw;
    font-weight: 700;
  }
  
  .about-subtitle span {
    margin-left: 5px;
  }
  
  .about-subdesc {
    position: relative;
    display: block;
    font-size: 3vw;
    padding-left: 10px;
  }
  
  .about-right {
    position: relative;
    display: block;
  }
  
  .my-picture {
    position: relative;
    display: block;
    width: 60vw;
    height: 60vw;
    margin: 20px auto;
  }
  
  .my-picture::after {
    content: "";
    position: absolute;
    top: -1vw;
    left: -1vw;
    display: block;
    width: 61vw;
    height: 61vw;
    z-index: -1;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  
  .my-picture img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
/* skill */
.skill {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.myskill {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.myskill::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.myskill::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

.skill-container {
  position: relative;
  display: block;
}

.skill-title {
  position: relative;
  display: block;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
}

.mainskill {
  color: #64ffda;
}

.skill-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-list li {
  position: relative;
  display: block;
  width: 25%;
  text-align: center;
  margin: 20px 0;
}

.skillicon {
  position: relative;
  display: block;
  font-size: 60px;
  height: 84px;
  margin-bottom: 20px;
}

@media all and (max-width:750px){
  .skill {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;
  }
  .skill .inner {
    position: relative;
    display: block;
    padding: 0 20px;
  }
  .myskill {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  
  .myskill::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .myskill::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  .skill-container {
    position: relative;
    display: block;
  }
  
  .skill-title {
    position: relative;
    display: block;
    font-size: 3.5vw;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
  
  }
  
  .mainskill {
    color: #888;
  }
  
  .skill-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skill-list li {
    position: relative;
    display: block;
    width: 25%;
    text-align: center;
    margin: 30px 0;
  }
  
  .skillicon {
    position: relative;
    display: block;
    font-size: 60px;
    height: 84px;
    margin-bottom: 20px;
  }
}


/* mbti */
.mbti {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.mymbti {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.mymbti::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.mymbti::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

.mbti-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.mbti-title {
  position: relative;
  display: block;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
}

.mainmbti {
  color: #64ffda;
}


.mbti-desc {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 450px;
  float: left;
  background-color: rgba(20, 90, 120, 0.4);
  padding: 20px;
  border-radius: 15px;
}

.mbti-depth1 {
  position: relative;
  display: block;
  height: 100%;
}

.mbti-depth1 li {
  color: #e9e9e9;
}

.mbti-list-title {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.mbti-list-desc {
  position: relative;
  display: block;
  margin-bottom: 15px;

}

#myChart {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media all and (max-width:750px){
  .mbti {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;
  }
  
  .mbti .inner {
    position: relative;
    display: block;
    padding: 0 20px;
  }
  .mymbti {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  

  .mymbti::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .mymbti::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  .mbti-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .mbti-title {
    position: relative;
    display: block;
    font-size: 3.5vw;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
  }
  
  .mainmbti {
    color: #888;
  }
  
  
  .mbti-desc {
      position: relative;
      left: 0;
      top: 0;
      transform: none;
      display: block;
      height: 100%;
      float: none;
      background-color: rgba(20, 90, 120, 0.4);
      padding: 20px;
      border-radius: 15px;
  }
  
  .mbti-depth1 {
    position: relative;
    display: block;
    height: 100%;
  }
  
  .mbti-depth1 li {}
  
  .mbti-list-title {
    position: relative;
    display: block;
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .mbti-list-desc {
    position: relative;
    display: block;
    font-size: 1vw;
    margin-bottom: 15px;
  
  }
  
.res-canvas{
  position: relative;
  display: block;
}

  #myChart {
    position: relative;
    display: block;
    float: none;
    width: 100% !important;
    height: 650px !important;
    opacity: 1;
    margin: 0 auto;
  }
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.myportfolio {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.myportfolio::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.myportfolio::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

.project-wrapper {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project-wrap {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 150px 0;
}

.project-wrap:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.project-wrap:nth-child(3) {
  display: flex;
  justify-content: start;
}

.project-img {
  position: relative;
  display: block;
}



.portimg {
  width: 500px;
  display: block;
  height: 300px;
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}



.portimg img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.2;
  transition: all 1s ease;
}

.portimg img:hover {
  opacity: 1;
  box-shadow: 0 0px 10px 0px #e9e9e9;

}

.project-content {
  position: relative;
  right: 20px;
  top: 0;
  display: block;
  text-align: right;
}

.second{
  position: relative;
  right: -20px;
  top: 0;
  display: block;
  text-align: left;
}

.project-name {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.5s;
}

.project-wrap:hover .project-name{
  color: #64ffda;
}

.project-title {
  font-size: 17px;
  color: #ccd6f6
}

.project-desc {
  position: relative;
  display: block;
  width: 450px;
  height: 150px;
  background-color: #112240;
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  color: #a8b2d1;
  padding: 20px;
}

.project-link{
  position: relative;
  display: block;
}

.useskill{
  margin: 10px 0;
}

.project-link a{
  margin: 0 5px;
  color: #8892b0;
}

.portfolio-wrap {
  position: relative;
  display: block;
  margin: 150px 0;
}

.project-list-title {
  position: relative;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
}

.portfolio-btn {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.portfolio-btn button {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 10px;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  background-color: transparent;

  color: #e9e9e9;
  font-size: 18px;
  cursor: pointer;
}

.portfolio-btn button:hover {
  box-shadow: 0 0 4px 2px #e9e9e97a;
}


.portfolio-cate {
  position: relative;
  display: block;
}

.portfolio-cate h4 {
  position: relative;
  display: block;
}

.portfolio-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list > li {
  position: relative;
  display: block;
  height: 300px;
  margin: 20px 10px;
  text-align: center;
  background: #112240;
  border-radius: 5px;
}

.portfolio-list > li li:hover .box{
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}

.portfolio-list li h5 {
  position: relative;
  display: block;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

.portfolio-list-wrap {
  position: relative;
  display: block;
  width: 270px;
}

.imagebox{
  position: relative;
  display: block;
  width: 90%;
  height: 150px;
  margin: 0 auto;
  transition: all 0.5s;

}

.imagebox img {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  filter: brightness(60%);
  transition: all 0.5s;
}

.imagebox:hover img{
  filter: brightness(90%);
  box-shadow: 0 0 4px 2px #e9e9e97a;
}

.portfolio-link-list {
  position: relative;
  display: block;
  width: 100%;
}

.portfolio-link-list a {
  display: block;
  width: 100%;
  margin: 20px 5px;
  color: #fff;
}


.portfolio-link-wrap {
  position: relative;
  display: block;
  width: 100%;
  color: #e9e9e9;
  padding: 0 10px;
}

.port-title {
  position: relative;
  display: block;
  font-weight: bold;
}

.port-desc {
  position: relative;
  display: block;
  width: 100%;
  margin: 15px 0;
}

.port-hover-desc {
  position: relative;
  display: block;
  width: 100%;
}


.port-version {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.res {
  margin-left: 5px;
  font-size: 8px;
}

.port-date {
  position: relative;
  display: inline-block;
  font-weight: 700;
}

.portfolio-hover-list {
  position: relative;
  display: block;
  width: 100%;
  margin: 15px 0;
}
.portfolio-hover-list li{
  position: relative;
  display: inline-block;
}
.portfolio-hover-list li a{
  position: relative;
  display: block;
  margin: 0 10px;
  color: #8892b0;;
  transition: all 0.3s;
}

/* .portmenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #64ffda;
  transition: width 0.5s;
} */

.portfolio-hover-list li a:hover {
  color: #64ffda;
}

/* .portfolio-hover-list li:hover .portmenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #64ffda;
} */



.portfolio-hover-list-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #e9e9e9;
  padding: 0 10px;
}

.port-desc a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: white;
  margin: 5px 5px;
  transition: all 0.5s;
}
.port-hover-desc a{
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: white;
  margin: 5px 5px;
  transition: all 0.3s;
}
.box:hover h5{
  color: #64ffda;
}

@media all and (max-width:1170px){
  .portfolio {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;
  }
  
  .portfolio .inner{
    position: relative;
    display: block;
    padding: 0 20px;
  }


  .myportfolio {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  
  .myportfolio::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .myportfolio::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  .project-wrapper {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  .project-wrap {
    position: relative;
    display: block;
    justify-content: start;
    /* margin: 150px 0; */
    margin-bottom: 1vw;
  }
  
  .project-wrap:nth-child(2) {
    display: block;
    width: 100%;
    justify-content: center;
    margin-bottom: 1vw;
  }
  
  .project-wrap:nth-child(3) {
    display: block;
    width: 100%;
    margin-bottom: 1vw;
    justify-content: start;
  }
  
  .project-img {
    position: relative;
    display: block;
    width: 50vw;
    height: 40vw;
    margin: 0 auto;
  }
  
  
  
  .portimg {
    width: 100%;
    display: block;
    height: 100%;
  }
  
  .portimg img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 0.8s ease;
  }
  
  .portimg img:hover {
    opacity: 1;
  }
  
  .project-content {
    position: relative;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  
  .second{
    position: relative;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
  }
  
  .project-name {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 700;
  }
  
  .project-title {}
  
  .project-desc {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 150px;
    background-color: #112240;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    color: #64ffda;
  }
  
  .portfolio-wrap {
    position: relative;
    display: block;
  }
  
  .project-list-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
  }
  
  .portfolio-btn {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  
  .portfolio-btn button {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 10px;
    border: 1px solid #e9e9e9;
    border-radius: 12px;
    background-color: transparent;
    color: #e9e9e9;
    font-size: 18px;
    cursor: pointer;
  }
  
  .portfolio-btn button:hover {
    box-shadow: 0 0 4px 2px #e9e9e97a;
  }
  
  
  .portfolio-cate {
    position: relative;
    display: block;
  }
  
  .portfolio-cate h4 {
    position: relative;
    display: block;
  }
  
  .portfolio-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-list > li {
    position: relative;
    display: block;
    width: 45%;
    height: 100%;
    margin: 20px 10px;
    text-align: center;
  }
  
  .portfolio-list > li li:hover .box{
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  }
  
  .portfolio-list li h5 {
    position: relative;
    display: block;
    margin: 25px 0;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
  }
  
  .portfolio-list-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .imagebox{
    position: relative;
    display: block;
    width: 90%;
    height: 150px;
    margin: 0 auto;
    transition: all 0.5s;
  
  }
  
  .imagebox img {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    filter: brightness(60%);
    transition: all 0.5s;
  }
  
  .imagebox:hover img{
    filter: brightness(90%);
    box-shadow: 0 0 4px 2px #e9e9e97a;
  }
  
  .portfolio-link-list {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .portfolio-link-list a {
    display: block;
    width: 100%;
    margin: 20px 5px;
    color: #fff;
  }
  
  
  .portfolio-link-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #e9e9e9;
    padding: 0 10px;
  }
  
  .port-title {
    position: relative;
    display: block;
    font-weight: bold;
  }
  
  .port-desc {
    position: relative;
    display: block;
    width: 100%;
    margin: 15px 0;
  }
  
  .port-hover-desc {
    position: relative;
    display: block;
    width: 100%;
  }
  
  
  .port-version {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }
  
  .res {
    margin-left: 5px;
    font-size: 8px;
  }
  
  .port-date {
    position: relative;
    display: inline-block;
    font-weight: 700;
  }
  
  .portfolio-hover-list {
    position: relative;
    display: block;
    width: 100%;
    margin: 15px 0;
  }
  .portfolio-hover-list li{
    position: relative;
    display: inline-block;
    width: 30%;
  }
  .portfolio-hover-list li a{
    position: relative;
    display: block;
    margin: 1vw;
    color: #8892b0;;
    transition: all 0.3s;
  }
  
  /* .portmenu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #64ffda;
    transition: width 0.5s;
  } */
  
  .portfolio-hover-list li a:hover {
    color: #64ffda;
  }
  
  /* .portfolio-hover-list li:hover .portmenu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #64ffda;
  } */
  
  
  
  .portfolio-hover-list-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #e9e9e9;
    padding: 0 10px;
  }
  
  .port-desc a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: white;
    margin: 5px 5px;
    transition: all 0.5s;
  }
  .port-hover-desc a{
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: white;
    margin: 5px 5px;
    transition: all 0.3s;
  }
  .box:hover h5{
    color: #64ffda;
  }
  
}


/* @media all and (max-width:1160px){
  .portfolio {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;
  }
  
  .portfolio .inner{
    position: relative;
    display: block;
    padding: 0 20px;
  }

  .myportfolio {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  
  .myportfolio::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .myportfolio::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  .project-wrapper {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  .project-wrap {
    position: relative;
    display: block;
    justify-content: start;
    margin-bottom: 50px;
  }
  
  .project-wrap:nth-child(2) {
    display: block;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  
  .project-wrap:nth-child(3) {
    display: block;
    width: 100%;
    margin: 0 auto;
    justify-content: start;
  }
  
  .project-img {
    position: relative;
    display: block;
    width: 50vw;
    height: 40vw;
    margin: 0 auto;
  }
  
  .portimg {
    width: 100%;
    display: block;
    height: 100%;
  }
  
  .portimg img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .portimg img:hover {
    opacity: 1;
  
  }
  
  .project-content {
    position: relative;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .project-content div {
    position: relative;
    display: block;
    width: 50vw;
    margin: 0 auto;
    
  }
  
  .project-name {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 700;
  }
  
  .project-title {}
  
  .project-desc {
    position: relative;
    display: block;
    width: 450px;
    background-color: darkgray;

  }
  
  .portfolio-wrap {
    position: relative;
    display: block;
  }
  
  .project-list-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
  }
  
  .portfolio-btn {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  
  .portfolio-btn button {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 10px;
    border: 1px solid #e9e9e9;
    border-radius: 12px;
    background-color: transparent;
    color: #e9e9e9;
    font-size: 18px;
  }
  
  .portfolio-btn button:hover {
    box-shadow: 0 0 4px 2px #e9e9e97a;
  }
  
  
  .portfolio-cate {
    position: relative;
    display: block;
  }
  
  .portfolio-cate h4 {
    position: relative;
    display: block;
  }
  
  .portfolio-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-list li {
    position: relative;
    display: block;
    width: 45%;
    margin: 20px 10px;
    text-align: center;
  }
  
  .portfolio-list li h5 {
    position: relative;
    display: block;
    margin: 25px 0;
  }
  
  .portfolio-list-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
  }
  
  .portfolio-list-wrap img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    border-radius: 5px;
    transition: all 0.5s;
  }
  
  .portfolio-link-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 140px;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    border-radius: 15px;
  }
  
  .portfolio-link-list a {
    display: block;
    width: 100%;
    margin: 20px 5px;
    color: #fff;
  }
  
  
  .portfolio-link-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #e9e9e9;
    padding: 0 10px;
  }
  
  .port-title {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    display: block;
    font-weight: bold;
  }
  
  .port-desc {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
  }
  
  .port-version {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }
  
  .res {
    margin-left: 5px;
    font-size: 8px;
  }
  
  .port-date {
    position: relative;
    display: inline-block;
    font-weight: 700;
  }
  
  .portfolio-hover-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 250px;
    height: 140px;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    border-radius: 15px;
  }
  
  .portfolio-list-wrap:hover .portfolio-hover-list {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 1);
  }
  
  .portfolio-list-wrap:hover .portfolio-link-list {
    opacity: 0;
    visibility: hidden;
  }
  
  .portfolio-list-wrap:hover .portfolio-list-wrap img {
    filter: brightness(90%);
    box-shadow: 0 0 4px 2px #e9e9e97a;
  }
  
  
  .portfolio-hover-list-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #e9e9e9;
    padding: 0 10px;
  }
  
  .port-desc a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: white;
    margin: 5px 5px;
  }
  
} */

@media all and (max-width:450px){
  .portfolio-list > li {
    position: relative;
    display: block;
    width: 90%;
    margin: 20px 10px;
    text-align: center;
  }
}


/* life */
.life {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.life-container {
  position: relative;
  display: block;
}

.life-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.life-me::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.life-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}


.life-me-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 35px;
  margin: 50px 0;
}

.life-box {
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.life-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.life-list-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.life-desc {
  position: relative;
  display: block;
  width: 35%;
  font-size: 17px;
  line-height: 1.8;
  text-align: right;
}

.life-creative {
  position: relative;
  display: block;
  width: 62.5%;
  height: 400px;
  opacity: 1;
  overflow: hidden;
}

.life-creative strong {
  padding: 20px;
  z-index: 1;
  font-size: 5vw;
  font-family: 'Poppins';
  font-weight: 600;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  position: absolute;
  left: 0;
  bottom: 0;
  color: #e9e9e9;
}

.life-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hover-cre{
  position: relative;
  display: block;
  width: 100%;
  transition: .5s;
}

.life-img:hover .hover-cre{
  position: relative;
  display: block;
  width: 100%;
  scale: 1.1;
}

.life-reswrap{
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
}
.life-responsible{
  position: relative;
  display: block;
  height: 400px;
  overflow: hidden;
}
.life-responsible strong{
  padding: 20px;
  z-index: 1;
  font-size: 2vw;
  font-family: 'Poppins';
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  font-weight: 700;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #e9e9e9;
}
.life-resimg{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.hover-res{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.life-resimg:hover .hover-res{
    position: relative;
    display: block;
    width: 100%;
    scale: 1.1;
}


.life-socialwrap{
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
}
.life-sociable{
  position: relative;
  display: block;
  height: 300px;
  margin-bottom: 100px;
  overflow: hidden;
}
.life-sociable strong{
  padding: 20px;
  z-index: 1;
  font-size: 2vw;
  font-family: 'Poppins';
  font-weight: 700;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  position: absolute;
  left: 0;
  bottom: 0;
  color: #e9e9e9;
}
.life-sociableimg{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.hover-social{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.life-sociableimg:hover .hover-social{
  position: relative;
  display: block;
  width: 100%;
  scale: 1.1;
}

.life-positivewrap{
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
}
.life-positive{
  position: relative;
  display: block;
  height: 400px;
  overflow: hidden;
}
.life-positive strong{
  padding: 20px;
  z-index: 1;
  font-size: 2vw;
  font-family: 'Poppins';
  font-weight: 700;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  position: absolute;
  left: 0;
  bottom: 0;
  color: #e9e9e9;
}
.life-positiveimg{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.hover-positive{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.life-positiveimg:hover .hover-positive{
  position: relative;
  display: block;
  width: 100%;
  scale: 1.1;
}

@media all and (max-width:850px){
  .life {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;
  }
  
  .life .inner{
    position: relative;
    display: block;
    padding: 0 20px;
  }
  .life-container {
    position: relative;
    display: block;
  }
  
  .life-me {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  
  .life-me::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .life-me::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  
  .life-me-title {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 40px 0;
  }
  
  .life-box {
    position: relative;
    display: block;
    margin-bottom: 50px;
  }
  
  .life-list {
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .life-list-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  
  .life-desc {
    position: relative;
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 1.8;
    text-align: center;
  }
  
  .life-creative {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    opacity: 1;
    overflow: hidden;
  }
  
  .life-creative strong {
    padding: 20px;
    z-index: 1;
    font-size: 10vw;
    font-family: 'Poppins';
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .life-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  
  .hover-cre{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .life-img:hover .hover-cre{
    position: relative;
    display: block;
    width: 100%;
    scale: 1.1;
  }
  
  .life-reswrap{
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
  }
  .life-responsible{
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
  }
  .life-responsible strong{
    padding: 20px;
    z-index: 1;
    font-size: 3.5vw;
    font-family: 'Poppins';
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .life-resimg{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .hover-res{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .life-resimg:hover .hover-res{
      position: relative;
      display: block;
      width: 100%;
      scale: 1.1;
  }
  
  
  .life-socialwrap{
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
  }
  .life-sociable{
    position: relative;
    display: block;
    height: 300px;
    margin-bottom: 0;
    overflow: hidden;
  }
  .life-sociable strong{
    padding: 20px;
    z-index: 1;
    font-size: 3.5vw;
    font-family: 'Poppins';
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .life-sociableimg{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .hover-social{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .life-sociableimg:hover .hover-social{
    position: relative;
    display: block;
    width: 100%;
    scale: 1.1;
  }
  
  .life-positivewrap{
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
  }
  .life-positive{
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
  }
  .life-positive strong{
    padding: 20px;
    z-index: 1;
    font-size: 3.5vw;
    font-family: 'Poppins';
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .life-positiveimg{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .hover-positive{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .life-positiveimg:hover .hover-positive{
    position: relative;
    display: block;
    width: 100%;
    scale: 1.1;
  }
}

/* vision */
.vision {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.vision-container {
  position: relative;
  display: block;
}

.vision-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.vision-me::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.vision-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

.swiper-wrapper{}

.sw-vision {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 100px 0;
}

.swiper-slide {
  height: 100%;
  display: block;
  transition: all 0.5s;
  /* transform: scale(0.8); */
  text-align: center;
      padding: 29px;
}

.swiper-slide img{
  position: relative;
  border-radius: 50%;
  margin: 10px 0;
}

.swiper-slide.swiper-slide-active {
  transform: scale(1);
}
.sw-vision-title{
  position: relative;
  display: block;
  width: 90%;
  margin: 15px auto;
}

.sw-vision-title p{
  float: left;
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.sw-vision-title p span{
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}

.sw-vision-control{
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  display: block;
}
.sw-vision-pg{
  position: relative;
  display: flex;
}
.swiper-pagination-bullet{
  position: relative;
  display: block;
  background-color: #888;
  opacity: 0.7;
  margin: 10px 5px;
}
.swiper-pagination-bullet-active{
  position: relative;
  display: block;
  background-color: #888;
  opacity: 1;
}

@media all and (max-width:1200px){
  .vision {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .vision .inner{
    position: relative;
    display: block;
    padding: 0 20px;
  }

  .vision-container {
    position: relative;
    display: block;
  }
  
  .vision-me {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
  }
  
  .vision-me::before {
    content: '';
    position: relative;
    display: inline-block;
    color: #fff;
  }
  
  .vision-me::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  .swiper-wrapper{}
  
  .sw-vision {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 100px 0;
  }
  
  .swiper-slide {
    height: 100%;
    display: block;
    transition: all 0.5s;
    /* transform: scale(0.8); */
    text-align: center;
  }
  
  .swiper-slide img{
    position: relative;
    border-radius: 50%;
    margin: 10px 0;
  }
  
  .swiper-slide.swiper-slide-active {
    transform: scale(1);
  }
  .sw-vision-title{
    position: relative;
    display: block;
    width: 90%;
    margin: 15px auto;
  }
  
  .sw-vision-title p{
    float: left;
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 700;
  }
  .sw-vision-title p span{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
  }
  
  .sw-vision-control{
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
    display: block;
  }
  .sw-vision-pg{
    position: relative;
    display: flex;
  }
  .swiper-pagination-bullet{
    position: relative;
    display: block;
    background-color: #888;
    opacity: 0.7;
    margin: 10px 5px;
  }
  .swiper-pagination-bullet-active{
    position: relative;
    display: block;
    background-color: #888;
    opacity: 1;
  }
}


/* footer */
/* .contact {
  position: relative;
  display: block;
  width: 100%;
  height: 20vw;
}

.contact-container {
  position: relative;
  display: block;
  text-align: center;
}

.contact-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.contact-me::before {
  content: '';
  position: relative;
  display: inline-block;
  color: #fff;
}

.contact-me::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #fff;
}

.contact-container a{
  font-size: 0;
}
.contact-container a i{
  font-size: 40px;
  margin: 15px;
} */

.footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 10px 0;
}